/*  your css code here. If applicable */
img{
	height:230px;
	width:430px;
	object-fit:cover;
}
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
}
.second{
	padding:10px;
	box-sizing: border-box;
	text-align:center;
}
button{
	padding:3px;
	background-color:red;
	color:white;
	border-radius:6px;
	border:none;
}
